/*setting the nav bar to flex and flex-direction row so that they become a row at the top.
list style none to take away the bullet points. justify content space-between to put an even amount of space-between them*/
#nav {
display: flex;
flex-direction: row;
list-style: none;
justify-content: space-between;
margin: .5% 15%;
}

/*centering the welcome to pokedex text and putting a white background and black border to make it visible*/
#welcome {
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  background-color: white;
  border: black solid 2px;

  
}

/*Set the background to a pokemon image and center it on the page*/
#welcome-div {
  text-align: center;
  background-image: url("https://cdn.vox-cdn.com/thumbor/qefrj2eJ3BMUeEhyh4uRV70Rfjk=/1400x1400/filters:format(png)/cdn.vox-cdn.com/uploads/chorus_asset/file/6839749/pokemon.0.png");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: stretch;
  margin: 0 auto;
  overflow-x: auto;
}

/*set the background to a pokedex and adjust it so it sits in the middle of the page*/
.pokedex {
  background-image: url("https://gran4u.xtgem.com/Pokedex.png");
  height: 100vh;
  width: 58vw;
  background-size: stretch;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: center;
}

/*set the search bar on the pokedex image in the bottom middle*/
#search {
  position: absolute;
  top: 590px;
  left: 440px;
  width: 150px;
  height: 25px;
  border-radius: 15px;
  border: black solid 2px;
  
}

/*set the next button to be to the right of the search bar*/
#next {
  position: absolute;
  top: 550px;
  left: 570px;
  height: 30px;
  border-radius: 15px;
  border: black solid 2px;
}

/*set the previous button to the left of the search bar*/
#previous {
  position: absolute;
  top: 550px;
  left: 345px;
  width: 90;
  height: 30px;
  border-radius: 15px;
  border: black solid 2px;
}

/*set the previous button to the left of the search bar*/
.previous{
  position: absolute;
  top: 550px;
  left: 345px;
  width: 90px;
  border-radius: 15px;
}

/*set the next button to the right of the search bar*/
.next {
  position: absolute;
  top: 550px;
  left: 570px;
  width: 90px;
  border-radius:15px;
}

/*position navbar link*/
#link-to-additional {
  position: absolute;
  top: 250px;
  left: 950px;
}

/*set the nav to display flex and space the elements evenly*/
#nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/*position the image on the right side of the pokedex and make it bigger*/
#image {
  position: absolute;
  top: 285px;
  left: 775px;
  height: 300px;
  width: 300px;
  
}

/*position the text on the pokedex*/
#text {
  position: absolute;
  top: 240px;
  left: 350px
}


